.search-bar-group {
  position: relative;
}

.clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 1.2rem;
  line-height: 1;
}

.clear-btn:hover {
  color: #000;
  text-decoration: none;
}
